{% extends 'base.html' %}
{%block title%}Anime{%endblock%}
{%block header %}Select Anime That You Like{%endblock%}
{% block content%}
<div class='container'>
    <div class="center-text mb-small"> 
    <h1 class = "header-background main-display">Anime for You!</h1>
    </div>
    <div class="anime-container">
        
    </div>
    <a href="{{url_for('show_anime')}}" class = "btn btn-medium btn-orange" id = "next-btn">Next</a>
</div>


{% endblock %}
{% block script %}
<script>
    generateRecommendedAnimeFromGenre()
</script>
{% endblock %}