* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  font-size : 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #242322;
}

.mb-large {
  margin-bottom: 10rem;
}

.mb-medium {
  margin-bottom: 5rem;
}

.mb-small{
  margin-bottom: 2rem;
}
.mx-small {
margin-left: 1rem;
margin-right: 1rem;
}

.mt-small {
  margin-top: 2rem;
}
.mt-medium {
  margin-top: 5rem;
}

.pt-medium {
  padding-top: 5rem;
}

.container {
  position: relative;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}





.hero-header {
  margin-top: 7rem;
  width: 100%;
  height: 80vh;
  /* background-image: linear-gradient(to right bottom, rgba(240, 20, 155, 0.2), rgba(245, 40, 200, 0.2)),url(https://images.hdqwalls.com/wallpapers/anime-cityscape-landscape-scenery-5k-r6.jpg); */
  background-image: url(/static/images/heroimage1.jpg);
  background-size: cover;
  background-position: bottom;
}

.hero-header__title {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%);
	text-align: center;
	line-height: 6rem;
}

.hero-header__title h1 {
	font-size: 5rem;
	color: white;
	letter-spacing: 1rem;
}

.hero-header__title h2 {
	font-size: 3rem;
	letter-spacing: 1rem;
	color: white;
}

#signup-form{
  margin: 0 auto;
  width: 60%;
}

.main-display{
  font-size: 5rem;
}

.float-right{
  float: right;
}


.sub-display{
  font-size: 3.2rem;
}

.min-display {
  font-size: 2.2rem;
}

.genre-block {
  display: inline-block;
  position: relative;
  height: 30rem;
  width: 42rem;
  margin: 3rem;
  border: solid green .8px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 255, 0, 0.19);
} 

.genre-block__title {
  height: 60%;
  background-image: linear-gradient(to right, white, gray);
  font-size: 2.3rem;
  text-align: center;
  padding-top: 15%
}

.genre-block__title--title {
  font-weight: 100;
  color: green;
  text-transform: uppercase;

}

.genre-block__footer {
  height: 40%;
  font-size: 1.6rem;
  width: 100%;
  position: absolute;
  bottom: -20%;
  left: 15%;
  padding-left: 1rem;
}

.btn-primary-outline {
  display: block;
  color: green;
  background-color: white;
  
  border-radius: 5px;
  padding: 1rem 3rem;
  font-size: 1.6rem;
}

.btn-primary-outline:hover {
  background-color: green;
  color: white;
  transform: scale(.5rem);
}


.btn-blue {
  background-color: blue;
}

.btn-medium {
  text-align: center;
  width: 10rem;
  height: 3rem;
  font-size: 2rem;

}

.btn-orange {
  background-color: orange;
  color: white;
}

.btn-orange:hover {
  background-color: white;
  color: orange;
  border: solid 1px orange;
}


.anime-block{
  display: inline-block;
  position: relative;
  height: 31rem;
  width: 50rem;
  outline: solid 1px black;
  box-shadow: 0 8px 6px -6px green;
  background-color: white;;
  margin-bottom: 1rem;
  margin-left: .5rem;

}



@media screen and (max-width: 1900px){
	.anime-container{
		margin-left: 15%;
	}

}

@media screen and (max-width: 1520px){
	.container{
		margin-left: 2%;
        margin-right: 2%;
	}
}


@media screen and (max-width: 665px){
	.anime-container{
		margin-left: 0%;
  }
  .anime-block{
    margin: 0;
  }
}

@media screen and (max-width: 600px){
	.container{
		margin-left: 0%;
		margin-right: 0%;

	}
}

.anime-block__image{

  display: inline-block;
  height: 31rem;
  width: 25rem;
 

}

.anime-block__image img{
  transition: all .3s;
  height: 100%;
  width: 100%
   

}

.anime-block__image img:hover {
  border: solid 5px green;
  cursor: pointer;
}

.anime-block__title{
  display: inline-block;
  position: absolute;
  width: 25rem;
  text-align: center;
  

}

.anime-block__title-header{
  display: inline;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.anime-block__buttons{
    position: absolute;
    display: block;
    left: 54%;
    bottom: 5%;

}

.anime-block__buttons button{
	margin-left: 1rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.6rem;
  border-radius: 2px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 5px;

  
}

.btn-primary{
	background-color:  #0d5909;
	color: white;
	border-radius: 5px;
}

.btn-secondary{
	background-color: #1ad111;
	color: white;
	border-radius: 5px;
}

#more-results-button {
  display: block;
  margin: 5rem auto;
  border: 2px solid green;
  transform: translateX(-50%);
}

#more-results-button:hover{
	background-color: green;
	color: white;
	border: 2px solid green;
}

/* The Modal (background) */



/* Modal Content */
.anime-modal__content,
.login-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */


.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 1rem;
  transition: all .2s;
 }

 .btn-blue {
   background-color: #4164e0;
   color: white;
 }

 .btn-blue:hover {
    background-color: aqua;
 }

 .btn-sm {
   padding: .5rem 1.5rem;
 }


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.login-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 60%;
}

.modal-form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.login-title {
  font-size: 2.6rem;
}

.form-control {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  height: 3rem;
  border: none;
  border-bottom: 1.5px solid green;
  background-color: #e4e5eb;
  font-size: 1.6rem;
  margin-top: 2rem;
  padding-left: 1rem;
}

.form-control:focus {
  outline: none;
  border-bottom: 2.5px solid green;
}

.loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  
  /* Modal Content/Box */
  .anime-modal__content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .anime-modal__container {
    padding-bottom: 5rem;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 2.8rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .anime-modal__hero {
    width: 45rem;
    height: 30rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    text-align: center;
  }
  @media screen and (max-width: 800px) {
    .anime-modal__hero{
        width: 39rem;
        height: 23rem;
    }
  }
  @media screen and (max-width: 560px) {
    .anime-modal__hero{
        width: 30rem;
        height: 16rem;
    }
  }
  


  .anime-modal__title {
      text-align: center;
      width: 100%;
  }

  .anime-modal__hero iframe{
    width: 100%;
    height: 100%;
  }

  .anime-modal__hero img {
      width: 100%;
      height: 100%;
  }

  .anime-modal__hero--title{
      display: inline;
      font-size: 3rem;
      text-transform: uppercase;
  }

  .anime-modal__data--list {
      list-style-type: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      line-height: 1.6;
  }
  .recommendation-link{
    position: absolute;
    text-decoration: none;
    font-size: 1.6rem;
    right: 20%
  }

  @media screen and (max-width: 620px){
	.recommendation-link{
    left: 14%;
    transform: translateY(-2rem);
	}

}


.anime-modal__buttons{
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}
  .dedicated-link{
    font-size: 1.6rem;
    text-decoration: none;
  }
  .divider {
    border: 0; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    transform: translateX(10%);
    width: 80%;
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }

  .anime-modal__data--synopsis{
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.6rem;
  }

  .anime-modal__data--genres {
    font-size: 1.6rem;
    text-transform: uppercase;
  }



  .anime-modal__data--score {
    float: right;
    font-size: 2.6rem;
  }

  .anime-modal__data--score i {
    color: #d1d420;
  }
  
  #login-signup-link {
    display: block;
    margin-top: 6rem;
    font-size: 1.6rem;
  }

  #get-started-link {
    font-size: 1.6rem;
    text-decoration: none;
  }

  #next-btn{
    position: fixed;
    right: 3%;
    top: 90%;
  }

  .center-text{
    text-align: center;
  }

  .search-block {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all .5s;
    border: 1px solid white;
    height: 10rem;
    width: 50%;
    border-radius: 5px;
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2)
  }

  .search-block:hover {
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
  }

  .search-block h3 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);

  }

  #search-by-name-block{

    background-image: linear-gradient(to right bottom, #f5c242, #f5e642)
  }



  #search-by-season-block {
    background-image: linear-gradient(to right bottom, #5aa642, #3fe809)
  }

 #search-by-top-block {
       background-image: linear-gradient(to right bottom, #ed2c28, #c7a924);

 }

 #day-of-week{
   background-image: linear-gradient(to right bottom, #2a80c7, #0c33a8);
 }

 #upcomming-anime{
   background-image: linear-gradient(to right bottom, #b315b0, #e004a2);
 } 
#get-started-link{
  background-image: linear-gradient(to right bottom, #e84154, #eb001b);
}

#get-started-link h3{
  font-size: 1.7rem;


}
 #get-started-link a{
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    font-size: 1.7rem;
    font-weight: 700;
 }  

#year{
	font-size: 1.6rem;
	width: 35%;
	padding: .5rem 1rem;
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid green;
    margin-right: 1%;
}

#season{
	font-size: 1.6rem;
	width: 55%;
	padding: .5rem 1rem;
	border-radius: 4px;
	border-bottom: 2px solid green;
}

#season:focus{
	border: 3px solid green;
	outline: green;
}

#year:focus{
	outline: green;
	border: 3px solid green;
}

#query{
	width:85%;
	border-radius: 10px;
	height: 3.5rem;
	border-bottom: 2px solid green;
	padding-left: 1rem;
	font-size: 1.6rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

#query:focus {
  outline: none;
  border-bottom: 3px solid green;
}

#subtype{
	width: 35%;
	margin-right: 1%;
	font-size: 1.6rem;
	padding: .5rem 1rem;
	border-radius: 5px;
	border-bottom: 2px solid green;
}

#subtype:focus{
	outline: green;
	border: 2px solid green;
}
 .center {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.center-genre {
    margin-left: 50%;
    transform: translateX(-40%);
}

@media screen and (max-width: 968px) {
  .center-genre{
    margin-left: 0%;
    transform: translateX(0%);
  }
}

.full-row{
    overflow: auto;
    white-space: nowrap;
    margin-top: 2rem;
}

.errors {
	color: red;
	font-size: 1.2rem;
}

.header-background{
  background: -webkit-linear-gradient(#1ad111, #0d5909);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert {
    font-size: 1.6rem;
  padding: 20px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.alert-danger{
  background-color: #f44336; /* Red */
}

.alert-success{
  background-color: #1ad111;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* navbar */
.navbar {
  z-index: 1;
  position: fixed;
  top: 0%;
  width: 100%;
  font-size: 1.8rem;
  background-image: linear-gradient(260deg, #0d5909, #1ad111 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 1.5rem auto;
}

.logo {
  display: inline-block;
  font-size: 2.2rem;
  margin-top: -8rem;
  margin-left: 2rem;
}

.navbar-toggle {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.4rem;
}

.active {
  display: block;
}

@media screen and (min-width: 968px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 7rem;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 3rem;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 4rem;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
}

/* end nav bar */




@media (max-height:880px){
	footer { position: static; }
}




.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 1.6rem sans-serif;
	padding: 5rem 5rem 6rem 5rem;
  margin-top: 8rem;
  margin-bottom: 0%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 3.6rem 'Cookie', cursive;
	margin: 0;
}


.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 2rem 0 1.2rem;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 1.4rem;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 2.5rem;
	width: 3.8rem;
	height: 3.8rem;
	border-radius: 50%;
	text-align: center;
	line-height: 4.2rem;
	margin: 1rem 1.5rem;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 1.7rem;
	line-height: 3.8rem;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size: 1.4rem;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 2rem;
	color:  #92999f;
	font-size: 1.3rem;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.footer-distributed .footer-icons{
	margin-top: 2.5rem;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 2rem;
	color: #ffffff;
	text-align: center;
	line-height: 3.5rem;

	margin-right: 3px;
	margin-bottom: 5px;
}



@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 4rem;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* 
end of footer */

/* Scrollbar */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #0d5909;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}


