{% extends 'base.html' %}
{%block title%}Anime{%endblock%}

{%block header%}Anime for You{%endblock%}

{% block content%}
<div class='container'>
    <div class="center-text mb-large">
    <h1 class = "header-background main-display">Anime for You!</h1>
    </div>
    <div class="anime-container">
        
    </div>
</div>


{% endblock %}
{% block script %}
{% if g.user %}
<script>

    generateAnimeFromGenericRecommendation()

</script>
{% else %}
<script>
    let subtypes = ['airing', 'upcoming', 'tv', 'movie', 'ova', 'special', 'bypopularity','favorite']
    let type = subtypes[Math.floor(Math.random()* subtypes.length)];
    generateTopAnime(type)
</script>
{% endif %}
{% endblock %}