<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
        <a href="/" class="logo">OtakuHaven</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="/" class="nav-links">Home</a>
            </li>
            <li>
                <a href="/genres" class="nav-links">Genres</a>
            </li>
            <li>
                <a href="/anime" class="nav-links">Recommendations</a>
            </li>
            {% if g.user %}
            <li>

                <a href="/user/liked" class="nav-links">Liked Anime</a>
            </li>
            <li>
                <a href="/user/wished" class="nav-links">Wishlist Anime</a>
            </li>
            <li>
                <a href="/logout" class="nav-links">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="/signup" class="nav-links" id = "nav-signup">Signup</a>
            </li>
            <li>
                <a href="/login" class="nav-links" id = "nav-login">Login</a>
            </li>
            {% endif %}
        </ul>
</nav>

    <div class="modal" id="animeModal">
        <div class="anime-modal__content">
            <span class="close">&times;</span>
            <div class="anime-modal__container">

            </div>


        </div>
    </div>
    {% if g.form %}
    <div class="modal" id="loginModal">

        <div class="login-modal-content">
            <span class="close">&times;</span>
            <div class="modal-form">
                <h3 class='login-title' id='login-title'>Login</h3>
                <form action="{{ url_for('login_user') }}" id='login-form' method='POST' data-type="login">
                    {{g.form.hidden_tag()}}
                    {% for field in g.form %}
                    {%if field.widget.input_type != 'hidden' %}
                    {{field(class_='form-control')}}
                    {%endif%}
                    {% endfor %}
                    <button id="login-btn" class="btn btn-primary-outline">Login</button>
                </form>


                <p><a href="#" id="login-signup-link">Don't have an account yet? Click here to sign up!</a></p>
            </div>
        </div>
    </div>
    {% endif %}



    {% block content %}{% endblock %}

    <footer class="footer-distributed">

        <div class="footer-left">
      <img src="img/logo.png">
            <h3>OtakuHaven</h3>

            <p class="footer-links" id = "footer-links">
                <a href="/">Home</a>
                |
                <a href="/genres">Genres</a>
                |
                <a href="/anime">Recommendations</a>
                <span class = "footer-remove">|</span>
                {% if g.user %}
                <a href="/user/liked">Liked Anime</a>
                |
                <a href="/user/wished">Wishlist Anime</a>
                |
                <a href="/logout">Logout</a>
                {% else %}
                <a href="/login" id = 'footer-login'>Login</a>
                |
                <a href="/signup" id = 'footer-signup'>Signup</a>
                {% endif %}
            </p>

            <p class="footer-company-name">© 2020 Ethan Degenhardt</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>3401 Hiram St., #A</span>
                    Saint Charles, MO 63376</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>(636) 373 - 3435</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:ethandeg1996@gmail.com">ethandeg1996@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About OtakuHaven</span>
                OtakuHaven was created by Ethan Degenhardt as a passion project due to his love for anime, and desire to always get recommended new ones. 
                The tech stack:<br>
                -Backend: Python/Flask, PostGreSQL, and SQLAlchemy<br>
                -Frontend: Vanilla Javascript, HTML, CSS, and Axios
                </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/ethan.degenhardt"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/ethandegenhardt/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="/static/api.js"></script>
    <script src="/static/genre.js"></script>
    <script src="/static/anime.js"></script>
    <script src="/static/otakuHaven.js"></script>
    {% block script %}{% endblock %}
</body>

</html>