<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="modal" id ="animeModal">
        <span class="close">&times;</span>
        <div class = "anime-modal-content">
            
            <p>Some text in the Modal...</p>
        </div>
    </div>
    {% if g.form %}
    <div class="modal" id ="loginModal">
        <span class="close">&times;</span>
        <div class = "login-modal-content">
            <form action="{{ url_for('login_user') }}" id = 'login-form' method= 'POST' data-type = "login"> 
                {{g.form.hidden_tag()}}
                {% for field in g.form %}
                    {%if field.widget.input_type != 'hidden' %}
                    {{field.label}}
                    {{field(class_='form-control')}}
                    {%endif%}
                    {% endfor %}
                    <button id = "login-btn">Login</button>
                </form>
            
            <p><a href="#" id = "login-signup-link">Don't have an account yet? Click here to sign up!</a></p>
        </div>
    </div>
    {% endif %}

    

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="../static/api.js"></script>
    <script src="../static/genre.js"></script>
    <script src="../static/anime.js"></script>
    <script src="../static/otakuHaven.js"></script>
    {% block script %}{% endblock %}
</body>

</html>