{% extends 'base.html' %}
{%block title%}Genres{%endblock%}
{% block content%}
<div class='container'>
    {% for genre in genres %}
    {% if genre['id'] in ids %}
    <div class='genre-block' data-id="{{genre['id']}}" data-liked="true" data-name="{{genre['name']}}">
        <div class='content'>
            <span class='title'>{{genre['name']}}</span>
            <a href="/genres/{{genre['id']}}">Learn more about {{genre['name']}}</a>
            <button class='btn btn-blue like-btn'>Unlike</button>
        </div>
    </div>
    {% else %}
    <div class='genre-block' data-id="{{genre['id']}}" data-name='{{genre["name"]}}' data-liked="false">
        <div class='content'>
            <span class='title'>{{genre['name']}}</span>
            <a href="/genres/{{genre['id']}}">Learn more about {{genre['name']}}</a>
            <button class='btn btn-blue like-btn'>Like</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}