{% extends 'base.html' %}
{%block title%}Home Page{%endblock%}
{%block header%}Home Page{%endblock%}
{% block content%}

<div class='container'>
    <div class="center-text mb-medium">
    <h1 class = "header-background main-display">Welcome to OtakuHaven!</h1>
    </div>
    <div id="form-block" class = "mb-small">

    </div>
    <div class="center">

    <div class="search-block" id="search-by-name-block">
        <h3>Search by Name</h3>
    </div>
    <div class="search-block" id="search-by-season-block">
        <h3>Search by Season</h3>
    </div>

    <div class="search-block" id="search-by-top-block">
        <h3>Search by Top</h3>
    </div>

    <div class="search-block" id = "day-of-week">
        <h3>Get Today's Anime</h3>
    </div>
   
    <div class="search-block" id = "upcomming-anime">
        <h3>Get Upcomming Anime</h3>
    </div>
    <div class="search-block" id = "get-started-link">
            <a href="{{url_for('select_genres')}}">Get Started!</a>

    </div>
</div>

    <div class="anime-container">

    </div>
</div>
{% endblock %}

{% block script %}
{% if g.user %}
<script>
    generateAnimeFromRecommendation()
</script>
{% else %}
<script>
    async function fillAnime(){
        animeContainer.innerHTML = "<div class ='center-text mb-small'><h3 class = 'header-background sub-display'>Top Airing Anime</h3></div>"
        await generateTopAnime('airing')
        removeResultsButton()
        
    }
    fillAnime()

</script>
{% endif %}
{% endblock %}