{% extends 'base.html' %}
{%block title%}Home Page{%endblock%}
{% block content%}
<header class='header'>
    <h1>Welcome to OtakuHaven!</h1>
</header>
<div class='container'>
    <div id="form-block">

    </div>
    <div class="center">
    <div class="search-block" id="search-by-name-block">
        <h3>Search by Name</h3>
    </div>
    <div class="search-block" id="search-by-season-block">
        <h3>Search by Season</h3>
    </div>

    <div class="search-block" id="search-by-top-block">
        <h3>Search by Top</h3>
    </div>

    <div class="search-block" id = "day-of-week">
        <h3>Get Today's Anime</h3>
    </div>
   
    <div class="search-block" id = "upcomming-anime">
        <h3>Get Upcomming Anime</h3>
    </div>
    <div class="search-block" id = "get-started-link">
            <h3><a href="{{url_for('select_genres')}}">Get Started!</a></h3>

    </div>
</div>
    <div class="anime-container">

    </div>
</div>
{% endblock %}

{% block script %}
{% if g.user %}
<script>
    generateAnimeFromRecommendation()
</script>
{% else %}
<script>
    generateTopAnime('airing')
</script>
{% endif %}
{% endblock %}