{% extends 'base.html' %}
{%block title%}Home Page{%endblock%}
{% block content%}
<div class='container'>
    {% for genre in genres %}
    {% if genre['id'] in ids %}
    <div class='anime-block' data-id="{{genre['id']}}" data-liked = "true">
        <div class='content'>
            <span class='title'>{{genre['name']}}</span>
            <button class='btn btn-blue' data-id="{{genre['id']}}" data-liked = "true">Unlike</button>
        </div>
    </div>
    {% else %}
    <div class='anime-block' data-id="{{genre['id']}}">
        <div class='content'>
            <span class='title'>{{genre['name']}}</span>
            <button class='btn btn-blue' data-id="{{genre['id']}}" data-liked = "false">Like</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

</html>