{% extends 'base.html' %}
{%block title%}Your Liked Animes{%endblock%}
{%block header%}Your Liked Animes{%endblock%}
{% block content%}
<div class="container">
    <div class="center-text mb-medium">
<h1 class = "header-background main-display">See What {{g.user.username}} Likes!</h1>
    </div>
{% if g.user.liked %}
<div class="anime-container">
{% for like in g.user.liked %}
{% if like.mal_id in wished %}

        
    <div class="anime-block"
        data-anime='{"title":"{{like.title}}","image_url":"{{like.image_url}}","mal_id":{{like.mal_id}},"liked":true,"wished":true}'>
        <div class="anime-block__image">
            <img src="{{like.image_url}}" alt="{{like.title}}">
        </div>
        <div class="anime-block__title">
            <h3 class="anime-block__title-header">{{like.title}}</h3>
        </div>
        <div class = "anime-block__buttons">
            <button class="btn btn-primary" data-type = "like-anime"><i class="fa fa-thumbs-up" aria-hidden="true"></i> unlike</button>
            <button class='btn btn-secondary' data-type= "wish-anime"><i class="fa fa-star" aria-hidden="true"></i> unwish</button>
        </div>
    </div>
    {% else %}
    <div class="anime-block"
        data-anime='{"title":"{{like.title}}","image_url":"{{like.image_url}}","mal_id":{{like.mal_id}},"liked":true,"wished":false}'>
        <div class="anime-block__image">
            <img src="{{like.image_url}}" alt="{{like.title}}">
        </div>
        <div class="anime-block__title">
            <h3 class="anime-block__title-header">{{like.title}}</h3>
        </div>
        <div class = "anime-block__buttons">
            <button class="btn btn-primary" data-type = "like-anime"><i class="fa fa-thumbs-up" aria-hidden="true"></i> unlike</button>
            <button class='btn btn-secondary' data-type= "wish-anime"><i class="fa fa-star-o" aria-hidden="true"></i> wish</button>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>
{% else %}
<div class="center-text">
    <h3 class="header-background sub-display">{{g.user.username}} doesn't like any anime yet.</h3>
</div>
{% endif %}
</div>
{% endblock %}
{% block script %}
<script>
    getBlocks()
</script>
{% endblock %}