{% extends 'base.html' %}
{%block title%}Login{%endblock%}
{%block header%}Login{%endblock%}
{% block content%}
<div class="container">
    <div class="center-text mb-medium">
<h1 class = "header-background main-display">Login</h1>
    </div>
<form action="{{ url_for('login_user') }}" method= 'POST' id="signup-form"> 
    {{form.hidden_tag()}}
    {% for field in form %}
        {%if field.widget.input_type != 'hidden' %}
        {{field.label(class_="header-background min-display")}}
        {{field(class_='form-control')}}
        {% for error in field.errors %}
        <p class = "errors">{{ error }}</p>
        {% endfor %}
        {%endif%}
        {% endfor %}
    <button class='btn btn-secondary'><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
</form>
</div>
{% endblock %}
