{% extends 'base.html' %}
{%block title%}Anime{%endblock%}
{%block header%}<span class = "dedicated-anime"></span>{%endblock%}
{% block content%}
    <div class="container">
        <div class="anime-container" data-id = "{{mal_id}}">

            
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    document.querySelector('body').style.backgroundColor = 'white';
    generateDedicatedAnimeData(Number(animeContainer.dataset.id))
    animeContainer.addEventListener('click', handleAnimeClicks)
</script>
{% endblock %}