{% extends 'base.html' %}
{%block title%}{{genre}} Anime{%endblock%}
{%block header%}{{genre_name}} Anime{%endblock%}
{% block content%}
<div class='container'>
    <div class="center-genre">
    {% if genre_id in ids %}
    <div class='genre-block' data-id="{{genre_id}}" data-liked = true data-name="{{genre_name}}">
        <div class='genre-block__title'>
            <h3 class='genre-block__title--title'>{{genre_name}}</h3>
        </div>
        <div class="genre-block__footer">
            <a href="/genres/{{genre_id}}" class = "btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> See {{genre_name}} Anime</a>
            <button class='btn btn-secondary like-btn'><i class="fa fa-star" aria-hidden="true"></i> Unlike</button>
        </div>
    </div>

    {% else %}
    <div class='genre-block' data-id="{{genre_id}}" data-name='{{genre_id}}' data-liked= false>
        <div class='genre-block__title'>
            <h3 class='genre-block__title--title'>{{genre_name}}</h3>
        </div>
        <div class="genre-block__footer">
            <a href="/genres/{{genre_id}}" class = "btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> See {{genre_name}} Anime</a>
            <button class='btn btn-secondary like-btn'><i class="fa fa-star-o" aria-hidden="true"></i> Like</button>
        </div>
    </div>
    {% endif %}
</div>
    <div class="anime-container">
        
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const genre = document.querySelector('.genre-block')
    const genre_id = Number(genre.dataset.id);
    generateAnimeFromSpecificGenre(genre_id)

    
</script>
{% endblock %}