{% extends 'base.html' %}
{%block title%}Your Wishlist{%endblock%}
{%block header%}Your Wishlist{%endblock%}
{% block content%}
<div class="container">
    <div class="center-text mb-medium">
    <h1 class = "header-background main-display">{{g.user.username}}'s Wishlist</h1>
    </div>
    {% if g.user.wished %}
    <form action="{{url_for('create_wishlist_pdf')}}" method='POST' class = "mb-medium">
        <input type="hidden" id="wished-html" name="wished-html">
        <button class = "btn btn-blue">create pdf</button>
    </form>
    <div class="anime-container">

    {% for wish in g.user.wished %}
    {% if wish.mal_id in liked %}
    <div class="anime-block"
        data-anime='{"title":"{{wish.title}}","image_url":"{{wish.image_url}}","mal_id":{{wish.mal_id}},"liked":true,"wished":true}'>
        <div class="anime-block__image">
            <img src="{{wish.image_url}}" alt="{{wish.title}}">
        </div>
        <div class="anime-block__title">
            <h3 class="anime-block__title-header">{{wish.title}}</h3>
        </div>
        <div class="anime-block__buttons">
            <button class="btn btn-primary" data-type="like-anime"><i class="fa fa-thumbs-up" aria-hidden="true"></i> unlike</button>
            <button class='btn btn-secondary' data-type="wish-anime"><i class="fa fa-star" aria-hidden="true"></i> unwish</button>
        </div>
    </div>
    {% else %}
    <div class="anime-block"
        data-anime='{"title":"{{wish.title}}","image_url":"{{wish.image_url}}","mal_id":{{wish.mal_id}},"liked":false,"wished":true}'>
        <div class="anime-block__image">
            <img src="{{wish.image_url}}" alt="{{wish.title}}">
        </div>
        <div class="anime-block__title">
            <h3 class="anime-block__title-header">{{wish.title}}</h3>
        </div>
        <div class="anime-block__buttons">
            <button class="btn btn-primary" data-type="like-anime"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> like</button>
            <button class='btn btn-secondary' data-type="wish-anime"><i class="fa fa-star" aria-hidden="true"></i> unwish</button>
        </div>
    </div>

    {% endif %}
    {% endfor %}
</div>
{% else %}
<div class="center-text">
    <h3 class="header-background sub-display">{{g.user.username}} doesn't have any anime on his/her wishlist.</h3>
</div>
{% endif %}
</div>
{% endblock %}
{% block script %}
<script>
    const html = document.querySelector('#wished-html')
    html.value = document.querySelector('.container').innerHTML
    getBlocks()
</script>
{% endblock %}